USE [documents]
GO
/****** Object:  Table [dbo].[tUsuaris]    Script Date: 18/08/2023 13:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUsuaris](
	[NIF] [nchar](10) NOT NULL,
	[Cognom1] [varchar](50) NOT NULL,
	[Cognom2] [varchar](50) NULL,
	[Nom] [varchar](50) NOT NULL,
	[login] [varchar](20) NULL,
	[checked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tUsuaris] ([NIF], [Cognom1], [Cognom2], [Nom], [login], [checked]) VALUES (N'04549041D ', N'SAIZ', N'CARRASCO', N'ANNA M.', N'asaiz', 1)
INSERT [dbo].[tUsuaris] ([NIF], [Cognom1], [Cognom2], [Nom], [login], [checked]) VALUES (N'07812911H ', N'GARCIA', N'VALLE', N'M. AUXILIADORA', N'magarcia', 1)
INSERT [dbo].[tUsuaris] ([NIF], [Cognom1], [Cognom2], [Nom], [login], [checked]) VALUES (N'15848653C ', N'LECUMBERRI', N'SESMA', N'JUAN JOSE', N'jjlecumberri', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tUsuaris__145C0A3F]    Script Date: 18/08/2023 13:05:23 ******/
ALTER TABLE [dbo].[tUsuaris] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tUsuaris] ADD  CONSTRAINT [DF_tUsuaris_checked]  DEFAULT ((0)) FOR [checked]
GO
